<div class="card m-3 scroll">
  <div class="card-header">
    Historique
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let vote of vote_list;let index = index;">
      <div class="row">
        <div class="col-4">
          <img src="{{vote.colleague.photo}}" class="img-responsive text-center" width="100%" style="max-width:100px ;">
        </div>
        <div class="col-8">
          <div class="row">
            <b>{{vote.colleague.pseudo}}</b>
          </div>
          <div class="row"><p>{{vote.colleague.pseudo}} est détesté, la personne a désormais un score de {{vote.score}}</p></div>
          <div class="row"><button class="btn btn-danger col-6" (click)="delToHistory(index)"> Supprimer  </button> </div>
        </div>
      </div>
    </li>
  </ul>
</div>
